#about-page {
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-areas:
        "image skills"
        "about about";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
}

.about-cell {
    background-color: var(--panel-color);
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px;
}

.about-cell > h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-bottom: 1.4px solid var(--hover-color);
    letter-spacing: 0.05rem;
}

#about-image {
    padding: 10px;
}

#about-image > img {
    border-radius: 12px;
}

#about-about {
    grid-area: about;
}