main {
    width: calc(100% - 235px);
    position: absolute;
    left: 235px;
    display: flex;
    flex-direction: column;
    gap: 100vh;
}

@media (max-width: 800px) {
    main {
        width: 100%;
        left: 0px;
    }
}