.project-scroller {
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}

.project-controls {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 5px;
}
.project-control-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.project-controls button {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--panel-color);
    border: none;
}

.project-content {
    overflow-x: auto;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 5px 0px 20px 0px;
    box-sizing: border-box;
}

.project-grid {
    display: flex;
    width: max-content;
}

.project-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-row {
    display: flex;
    gap: 20px;
    opacity: 0;
    animation: fadeInUp 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.project-card {
    width: 450px;
    height: 300px;
    flex-shrink: 0;
    background-color: var(--panel-color);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0px 8px 24px var(--shadow-color);
    position: relative;
    overflow: hidden;
    transition: transform 0.25s;
}

.project-card-big {
    aspect-ratio: 16/9;
    flex-shrink: 0;
    background-color: var(--panel-color);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0px 8px 24px var(--shadow-color);
    position: relative;
    overflow: hidden;
    transition: transform 0.25s;
}

.project-card > img,
.project-card-big > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card::after,
.project-card-big::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    transition: background-color 0.2s ease;
    pointer-events: none;
}

.project-card:hover::after,
.project-card-big:hover::after {
    background-color: var(--hover-color); 
}

.project-card:hover,
.project-card-big:hover {
    transform: scale(1.02);
}

.project-card > p,
.project-card-big > p {
    font-size: 0.8rem;
    opacity: 0.75;
}

.project-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--popup-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    padding-left: 235px; 
    box-sizing: border-box;
}

.popup-content {
    background-color: var(--popup-color);
    padding: 40px 40px 20px 40px;
    border-radius: 12px;
    max-width: 1000px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
}

.popup-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--neutral-gray);
    margin-bottom: 10px;
    padding-left: 0.25rem;
    position: sticky;
    top: -40px;
    background-color: var(--popup-color);
    z-index: 10;
}

.popup-title > h2 {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--outline-color);
}

.popup-title > button {
    border-radius: 32px;
    background-color: var(--panel-color);
    height: 35px;
    width: 35px;
    font-weight: bolder;
    cursor: pointer;
}

.popup-title > button:hover {
    background-color: var(--hover-color);
}

.popup-content > p {
    padding-left: 0.25rem;
}

.popup-image {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 12px;
    background-color: var(--hover-color);
    position: relative;
}

.popup-image > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-left: 0.25rem;
    margin-top: 6px;
}

.popup-links > a {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--link-color);
}

.popup-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 2px;
}

.popup-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-description p {
    line-height: 1.2rem;
}

.card-header {
    background-color: var(--popup-background);
    z-index: 2;
    position: relative;
    padding: 10px 20px;
    border-radius: 12px 12px 0 0;
}

.project-card h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.project-card-big h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

.project-card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 5px 5px 5px 0px;
}

.category-tag {
    padding: 8px 18px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: default;
    display: flex;
    align-items: center;
    gap: 8px;
}

.mini-category-tag {
    padding: 6px 12px;
    font-size: 0.75rem;
    font-weight: 400;
    cursor: default;
    display: flex;
    align-items: center;
}

.category-webdev {
    background-color: var(--tag-one);
    border-radius: 32px;
}

.category-gamedev {
    background-color: var(--tag-two);
    border-radius: 8px;
}

.category-gamedes {
    background-color: transparent;
    border: 2px solid var(--tag-three);
    color: var(--main-text);
    border-radius: 32px;
}

.category-dev {
    background-color: var(--tag-four);
    border-radius: 0px;
}

.category-webdes {
    background-color: transparent;
    border: 2px dotted var(--tag-four);
    color: var(--main-text);
    border-radius: 32px;
}

.category-gamedes.mini-category-tag,
.category-webdes.mini-category-tag {
    background-color: var(--invert-text);
}

.project-dates {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    font-style: italic;
    opacity: 0.8;
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .project-popup {
        padding-left: 0px;
    }

    .popup-title {
        top: -20px;
        padding-top: 5px;
    }

    .popup-content {
        padding: 20px 20px 10px 20px;
    }

    .project-card {
        width: 300px;
        height: 200px;
    }

    .mini-category-tag {
        padding: 4px 9px;
        font-size: 0.6rem;
        gap: 4px;
    }

    .project-card-tags {
        gap: 4px;
        margin: 5px 5px 5px 0px;
    }

    .project-card h3 {
        font-size: 1rem;
        font-weight: 400;
    }
}