.nav-sidebar {
    width: 25%;
    max-width: 235px;
    background-color: var(--primary-color);
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
}

.nav-button {
    width: 90%;
    text-decoration: none;
    text-align: left;
    padding: 12px 20px;
    font-size: 1.5rem;
    border-radius: 32px;
    transition: background-color 0.25s;
}

.nav-button:hover, .theme-btn:hover {
    background-color: var(--hover-color);
}

.nav-button:focus-visible, .theme-btn:focus-visible {
    background-color: var(--hover-color);
} 

.nav-footer {
    position: absolute;
    bottom: 0px;
    padding-bottom: 30px;
    gap: 1rem;
    display: flex;
}

.theme-btn-parent {
    position: absolute;
    top: 0px;
    padding-top: 30px;
    width: 90%;
}

.theme-btn {
    width: 100%;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.25rem;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.footer-btn {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 0.25s;
}

.footer-btn:hover, .footer-btn:focus-visible {
    transform: scale(1.1);
}