:root {
  --bg-color: #fff;
  --primary-color: #d8cfef;
  --trans-primary-color: #d8cfef66;
  --outline-color: #8a6cd5;
  --panel-color: #ababab50;
  --hover-color: #00000024;
  --main-text: black;
  --invert-text: white;
  --neutral-gray: #63636369;
  --popup-color: #eeeeee;
  --popup-background: #FFFA;
  --link-color: #563c80;
  --shadow-color: #0000001A;

  --tag-one: #c8b9ed;
  --tag-two: #a6d7e9;
  --tag-three: #edc7db;
  --tag-four: #b4b7fa;
}

.dark {
  --bg-color: #0e0e0e;
  --primary-color: #4d3f6f;
  --trans-primary-color: #4d3f6f66;
  --outline-color: #a897d4;
  --panel-color: #93939350;
  --hover-color: #ffffff24;
  --main-text: white;
  --invert-text: black;
  --neutral-gray: #9d9d9d69;
  --popup-color: #222;
  --popup-background: #000A;
  --link-color: #c5a5d6;
  --shadow-color: #ffffff1A;

  --tag-one: #4d3f6f;
  --tag-two: #2b5a6b;
  --tag-three: #d497b8;
  --tag-four: #423d84;
}

body {
  background-color: var(--bg-color);
  color: var(--main-text);
}