:root {
  --bg-color: #0e0e0e;
  --primary-color: #4d3f6f;
  --outline-color: #a897d4;
  --panel-color: #ffffff30;
  --hover-color: #ffffff24;
  --main-text: white;
  --invert-text: black;
  --neutral-gray: #9d9d9d;
  --popup-color: #222;
  --popup-background: #000A;
  --link-color: #c5a5d6;

  --tag-one: #4d3f6f;
  --tag-two: #2b5a6b;
  --tag-three: #d497b8;
  --tag-four: #827bed;
}

[data-theme='light'] {
  --bg-color: #fff;
  --primary-color: #271d66;
  --main-text: black;
  --invert-text: white;
  --neutral-gray: #636363;
}

body {
    color: var(--main-text);
}